body {
  margin: 0;
  padding: 0;
}

header {
  background-color:rgb(78, 160, 255);
  background-image: url(../img/pattern.png);
  height: 180px;
}

main {
  margin-left: 10px;
}

h1 {
  font-size: 450%;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}

/* article-heading-section/// */
.heading {
  margin-top:-20px;
}

.subheading {
  color: rgb(128, 128, 128);
  margin-top:-60px
}

.subheading h2 {
  font-size: 200%;
}

.subheading p {
  margin-top: -25px;
  font-size: 140%;
}

.subheading span {
  color: rgb(54, 177, 231);
}

.logo {
  margin-left: 10px;
  margin-top:70px;
  width: 350px;
}

.article-photos img {
  height: 650px;
}

.article-photos p {
  font-size: 135%;
  margin-top: 3px;
}
/* ///article-heading-section */

/* subject-section/// */
.subject p, li, table { 
  font-size: 170%;
}

.subject ul {
margin-left: -15px;
}
/* ///subject-section */

/* table-section/// */
 thead{
  background-color: rgb(32, 169, 229);
  color: rgb(255, 255, 255);
 }
 .th-space {
  width: 450px;
 }

.tbody-padding{
  padding: 80px;
}

.tbody-padding tr:nth-child(odd) {
background-color: rgb(177, 229, 242);
}
/* ///table-section */

/* end-page-section/// */
.end-page {
  color: rgb(128, 128, 128);
  margin-bottom: 50px;
}

.end-page h2 {
  font-size: 190%;
}

.end-page h3 {
  font-size: 220%;
}

.padding-end-page {
  padding: 20px;
  margin: 10px;
}

.monitor {
  background-image: url(../img/monitor.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:420px;
  height: 320px;
  color: rgb(255, 255, 255);
}

.graph {
  background-image: url(../img/graph.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width:420px;
  height: 320px;
  color:  rgb(255,255,255);
}
/* ///end-page-section */